<h3>Sign In</h3>

<form action="/admin" method="POST" style="width: 1000px; margin-top: 20px;">

    <label for="username" style="display: block; margin-bottom: 20px; font-size: 1.3rem;"><b>UserName</b></label>
    <input type="text" placeholder="Enter Username" name="username" style="width: 100%; box-sizing: border-box; padding: 8px; margin-bottom: 20px;">

    <label for="password" style="display: block; margin-bottom: 20px;  font-size: 1.3rem;"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" style="width: 100%; box-sizing: border-box; padding: 8px; margin-bottom: 20px;">

    <input type="submit" value="Login" class="btn">
</form>

<h3 style="margin-top: 1rem;">Register</h3>

<form action="/register" method="POST" style="width: 1000px; margin-top: 20px;">

    <label for="username" style="display: block; margin-bottom: 20px; font-size: 1.3rem;"><b>UserName</b></label>
    <input type="text" placeholder="Enter Username" name="username" style="width: 100%; box-sizing: border-box; padding: 8px; margin-bottom: 20px;">

    <label for="password" style="display: block; margin-bottom: 20px;  font-size: 1.3rem;"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" style="width: 100%; box-sizing: border-box; padding: 8px; margin-bottom: 20px;">

    <input type="submit" value="Register" class="btn">
</form>

